@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #0e2439;
    --text-color: #9cb3c9;
    --brand-blue: #4799eb;
    --brand-indigo-bg: #1e364d;
  }
  body {
    @apply relative bg-brand-bg font-body text-brand-text;
  }
}
@layer utilities {
  .form-input {
    @apply bg-transparent appearance-none relative block w-full text-base focus:ring-0 focus:outline-none focus:border-none;
  }
}

.grid-container {
  display: grid;
  align-items: start;
  width: '100%';
  grid-gap: 28px;
  grid-template-rows: min-content;
  grid-template-areas:
    'mainCol'
    'rightCol'
    'leftCol';
  grid-template-columns: minmax(0, 1fr);
}

@media (min-width: 810px) and (max-width: 1147px) {
  .grid-container {
    grid-template-areas:
      'mainCol rightCol'
      'mainCol leftCol'
      'mainCol .';
    grid-template-columns: minmax(0, 1fr) 310px;
  }
}

@media (min-width: 1148px) and (max-width: 1431px) {
  .grid-container {
    grid-template-areas:
      'leftCol mainCol rightCol'
      '. mainCol .';
    grid-template-columns: 310px minmax(0, 1fr) 310px;
  }
}

@media (min-width: 1432px) {
  .grid-container {
    grid-template-areas:
      'leftCol mainCol rightCol'
      '. mainCol .';
    grid-template-columns: 310px minmax(0, 1fr) 310px;
    width: 1400px;
  }
}

.left-col {
  grid-area: leftCol;
}

.main-col {
  grid-area: mainCol;
}
.right-col {
  grid-area: rightCol;
}
