@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './home.css';
@import './post.css';
@import './group.css';
@import './nprogress.css';
@import './user.css';

@layer base {
  :root {
    --bg-color: #0e2439;
    --text-color: #9cb3c9;
    --brand-blue: #4799eb;
    --brand-indigo-bg: #1e364d;
  }
  body {
    @apply relative bg-brand-bg font-body text-brand-text;
  }
}
@layer utilities {
  .form-input {
    @apply bg-transparent appearance-none relative block w-full text-base focus:ring-0 focus:outline-none focus:border-brand-blue;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent #274059 transparent;
}

.triangle-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: #274059 transparent transparent transparent;
}

.left-tran {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 8px 4px 0;
  border-color: transparent var(--brand-blue) transparent transparent;
}

.comment-tree::before {
  @apply border-brand-text border-l-[1px] border-dashed left-3 z-20;
  content: '';
  height: calc(100% - 4px - 7px);
  position: absolute;
  top: 4px;
}

.notification::before {
  content: '';
  border-color: transparent transparent #172d43;
  border-style: solid;
  border-width: 0 10px 10px 3px;
  bottom: 100%;
  height: 0;
  left: 10px;
  position: absolute;
  width: 0;
}

.combobox-option {
  @apply cursor-pointer appearance-none gap-3 bg-[#1E364D] py-2 px-4 text-gray-300 outline-none placeholder:text-gray-500 hover:bg-brand-blue hover:text-white focus:outline-none first-of-type:rounded-t;
}

.form-input {
  @apply appearance-none rounded bg-[#1E364D] p-2 text-white outline-none placeholder:text-gray-500 focus:outline-none lg:p-3;
}
